<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControladorIndex</servlet-name>
        <servlet-class>Controlador.ControladorIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorMenu</servlet-name>
        <servlet-class>Controlador.ControladorMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVotar</servlet-name>
        <servlet-class>Controlador.ControladorVotar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVolverMenu</servlet-name>
        <servlet-class>Controlador.ControladorVolverMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorError</servlet-name>
        <servlet-class>Controlador.ControladorError</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorIndex</servlet-name>
        <url-pattern>/ControladorIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorMenu</servlet-name>
        <url-pattern>/ControladorMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVotar</servlet-name>
        <url-pattern>/ControladorVotar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVolverMenu</servlet-name>
        <url-pattern>/ControladorVolverMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorError</servlet-name>
        <url-pattern>/ControladorError</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
